<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {{!--<link rel="stylesheet" href="../public/stylesheets/style.css">--}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container center">
    <a href="/">Home</a>
    <a href="/catalog/participants">Participants</a>
    <a href="/catalog/presenters">Presenters</a>
    <a href="/catalog/topic">Topics</a>
    <a href="/catalog/schedule">View Schedule</a>
    <a href="/catalog/session">Sessions</a>
    <a href="/catalog/school">Schools</a>
    <a href="/catalog/room">Rooms</a>
    <h1>{{title}}</h1> <!--Handlebars uses the {{}} to pull in the title from the res.render commands-->
    {{{body}}} <!--//Handlebars here pulls in the body from the other views, but believe it was similar in the other form too.-->
    </div>
  </body>
</html>
