<body>
    <div class="container-fluid">
    <div class='row'>
        <p>Delete the following participant?</p>
    </div>
    <form action="/catalog/Participant/{{participant._id}}/delete" method="POST">
    <button type="submit">Delete</button>
    </form>
    </div>
</body>
