<body>
<div class="container-fluid">
    <p>TWIST, or Teen Women in Science and Technology, is a one-day conference to expose teen women across the state to various career possibilities.
            TWIST was developed by K-State Polytechnic and the Salina community more than 25 years ago. </p>
</div>
<div class="container-fluid">
    <div class='row'>
        <p>Use the following form to add a new presenter</p>
    </div>
</div>
<form action="/catalog/Presenter/create" method="POST">
	<label for="firstName">First Name:</label><br>
	<input name="firstName" type="text" id="firstName"><br><br>
	<label for="lastName">Last Name:</label><br>
	<input name="lastName" type="text" id="lastName"><br><br>
	<label for="occupation">Occupation:</label><br>
	<input name="occupation" type="text" id="occupation"><br><br>
	<label for="topic">Topics:</label><br>
	{{#each topic_list}}
	<input name="{{topic}}" type="checkbox" id="topic"><br><br>
	{{/each}}
	<input name="topic" type="checkbox" id="topic" value="topic.id"><br><br>
	<label for="mainPhone">Phone:</label><br>
	<input name="mainPhone" type="text" id="mainPhone"><br><br>
	<label for="mobilePhone">Mobile:</label><br>
	<input name="mobilePhone" type="text" id="mobilePhone"><br><br>
	<label for="email">Email:</label><br>
	<input name="email" type="text" id="email"><br><br>
	<input type="submit" value="Add presenter"><br>
</form>
</body>