<body>
<div class="container-fluid">
    <div class='row'>
        <p>Delete the following presenter?</p>
    </div>
    <form action="/catalog/presenter/{{presenter._id}}/delete" method="POST">
    <button type="submit">Delete</button>
    </form>
</div>
</body>