<div class="container-fluid">
    <p>TWIST, or Teen Women in Science and Technology, is a one-day conference to expose teen women across the state to various career possibilities.
            TWIST was developed by K-State Polytechnic and the Salina community more than 25 years ago. </p>
</div>
<div class="container-fluid">
    <div class='row'>
        <p>Use the following form to add a new Topic</p>
    </div>
</div>
<form action="/catalog/Topic/create" method="POST">
	<label for="topicCode">TopicCode:</label><br>
	<input name="topicCode" type="text" id="topicCode"><br><br>
    <label for="title">Title:</label><br>
	<input name="title" type="text" id="title"><br><br>
	<label for="description">Description:</label><br>
	<input name="description" type="text" id="description"><br><br>
    <input type="submit" value="Add Topic"><br>
</form>